<div class="container" *ngIf="movie">
  <div class="image">
    <img src="{{ movie.poster }}" alt="jokerMovieCover" />
  </div>
  <div class="details">
    <h1 class="title">{{ movie.title | uppercase }}</h1>
    <span> <strong>Réalisateur :</strong></span>
    <div *ngFor="let director of movie.directors">
      <span>{{ director }} </span>
    </div>

    <span>
      <strong>Acteurs : </strong>
    </span>
    <span *ngFor="let actor of movie.actors; last as isLast"
      >{{ isLast ? actor : actor + ", &nbsp;" }}
    </span>

    <div *ngFor="let genre of movie.genres">
      <p><strong>Genres :</strong>{{ genre }}</p>
    </div>
    <div *ngIf="movie.synopsis">
      <p><strong>Synopsis : </strong> {{ movie.synopsis | limitCharacter }}</p>
    </div>
  </div>
  <button class="btn btn-dark" *ngIf="authService.isLoggedIn">
    <a
      style="text-decoration: none"
      [routerLink]="['/movies/' + movie.id + '/edit']"
      >Edit
    </a>
  </button>

  <h4>
    <span *ngIf="authService.isLoggedIn" (click)="delete()">
       <button class="btn btn-dark"><a>Supprimer</a> </button> 
    </span>
    </h4>
</div>
